*{
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  /* body consists of only font */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
  }
.container-fluid{
    display: block;  
}
  /* Title Section Starts */
  #title {
    color: black;
    text-align: left;
  }
  /* Title Section Ends */
  /* Navigation Starts */
  .navbar {
    padding: 1% 4% 1% 4%;
  }
  .navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 2%;
  }
  .nav-item {
    padding: 0 18px;
  }
  .nav-colored-section{
    background-color: #222831;
    
  }
  .nav-link {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
  }
  /* Navigation Ends */
  /* Buttons */
  .resume-button {
    font-family: 'times new roman';
    color: #eee !important;
    font-size: 150%;
    text-shadow: #7CACDE;
    box-shadow: #BEE2F9;
    padding: 8% 40%;
    border-radius: 30px;
    border: 2px solid #222831;
    background: #222831;
    margin-bottom: 8%;
  }
  .resume-button:hover {
    color: #222831 !important;
    background: #eee;
    transition: .5s;
    cursor: pointer;
  }
  /* Button Ends */
/* Resume Card */
.resume-h-div{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 4%;
}
.card-design-class{
    margin-left: auto;
    margin-right: auto;
    background-color: #222831;
    color: #eee;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.internship-h{
    padding-top: 1%;
}
.internship-h-outer{
  padding-top: 1%;
  display: none;
}
.resume-button-outer{
  display: none;
}
.education-card{
    padding-top: 2%;
    padding-bottom: 2%;
}
.internship-card{
    padding-bottom: 2%;
}
.skills-card {
    padding-top: 2%;
    padding-bottom: 2%;
}
.language-card{
    padding-top: 2%;
    padding-bottom: 2%;
}
.resume-button-div{
    display: flex;
    justify-content: center;
}
h2{
    font-size: 200%;
    margin-left: 2%;
    
}
h3{
    font-size: 150%;
}
h4{
    font-size: 120%;

}
h5{
    font-size: 100%;
}

  /* Footer Starts */
.icon-social-child{
    width: 40%;
  }
  .footer-row{
    padding-top: 5%;
    padding-bottom: 3%;
  }
  .email-row{
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
  }
  .mail-img{
    width: 70%;
    margin-left: 18%;
  }
  .social-row{
    padding-top: 0;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
  }
  .copyright-row{
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
  }
  /* Footer Ends */
  
  
  
  
  
  
  
  
  /* Responsiveness */
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
    .education-card{
        display: flex;
        justify-content: center;
        padding-bottom: 4%;
        padding-top: 4%;
    }
    .internship-card{
        display: flex;
        justify-content: center;
        padding-bottom: 4%;
        padding-top: 4%;
    }
    .skills-card {
        display: flex;
        justify-content: center;
        padding-bottom: 4%;
        padding-top: 4%;
    }
    .language-card{
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
        padding-top: 4%;
    }
    h2{
        font-size: 150%; 
    }
    h3{
        font-size: 120%;
    }
    h4{
        font-size: 100%;
    
    }
    h5{
        font-size: 80%;
    }
    .card-design-class{
      padding: 2.5%;
    }
    .internship-h-outer{
      padding-top: 1%;
      display: flex;
      justify-content: center;
    }
    .resume-button-outer{
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 2% 15%;
    }
    .internship-h{
      display: none;
    }
    .resume-button-div{
      display: none;
    }
    .resume-button-outer-div{
      padding-top: 3%;
    }
    .resume-button-outer:hover{
      text-decoration: none;
    }
  }
  
  
